# Environnement STAGING — images taguées :staging depuis la branche develop
# Génère avec : openssl rand -hex 32
SECRET_KEY=

VITE_API_URL=https://wordle-api-staging.theo-stoffelbach.fr
CORS_ORIGINS=https://wordle-staging.theo-stoffelbach.fr

POSTGRES_DB=wordle_staging
POSTGRES_USER=wordle_staging
POSTGRES_PASSWORD=
DATABASE_URL=postgresql://wordle_staging:<password>@wordle-db:5432/wordle_staging
